.cartColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;    
    width: 13vw;
    background-color: #fff; /* Ajusta el color de fondo según tus necesidades */
    z-index: 999; /* Ajusta la capa z-index según tus necesidades */
    overflow-y: auto;
    overflow-x: hidden;
    border-left:1px solid  rgba(92, 85, 85, 0.168);
    /* background-color: black;
    color: #fff  */
}
.buttonCart{
    --bs-btn-bg: #ff6824 !important;
    --bs-btn-hover-bg: #ff6824 !important;
    --bs-btn-border-color:#ff6824 !important;
    color: #ffff !important;
    height: 30px !important;
    font-size: 16px !important;
}
  
/* efectos de animacion */
.fadeIn {
    animation: fadeIn 0.8s ease-in-out forwards;
}
  
.fadeOut {
animation: fadeOut 0.8s ease-in-out forwards;
}
  
@keyframes fadeIn {
from {
    opacity: 0;    
    transform: translateY(-10px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes fadeOut {
from {
    opacity: 1;
    transform: translateY(0);
}
to {
    opacity: 0;
    display: none;
    transform: translateY(-10px);
}
}
  