.cardInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem;
    background-color: #383838;
    padding: 1rem;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.cardInfoContainer span i{
    font-size: 1.6rem;
}

.number{
    color: #ff6824;
    font-size: 1.8rem;
    font-weight: 600;
}

.cardCreateProduct{
    background-color: #ff6824;
    border-radius: 4px;
    color:#383838;
  overflow: hidden;
}

.itemCreateProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    gap:10px;
    padding: 2rem 1rem;
}

.cardCreateProduct i{
    font-size: 1.8rem;
    color: #383838;
    font-weight: 700;
}

.arrowContainer{
    background-color: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100% 0 0 100%/50% 0 0 50%;
}

.arrowContainer i{
    color: #f9f9f9;
    margin:  0 0 0 5px;
}

.cardForUsers{
    border: 3px solid #383838;
    border-right: none;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.cardForUsers i{
    font-size: 1.8rem;
    color: #383838;
    font-weight: 700;
}


.cardForUsers .arrowContainer{
    background-color:#ff6824;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100% 0 0 100%/50% 0 0 50%;
    border: 3px solid #383838;
}

