.card{
   
    transition: box-shadow 0.5s; /* Agrega una transición suave al efecto de sombra */
}

.divCard{
    height: 420px;
    width: 220px;
}

.imgContainer{
width: 210px;
height: 210px;
border: 1px solid rgba(179, 179, 179, 0.5);

border-radius: 4px;

display: flex;
justify-content: center;
align-items: center;
}

.imgContainer img{
    width: 100%;
    object-fit: contain;
}

.imgContainer i{
    width: 100%;

 
    font-size: 10rem ;
    color: #383838 ;
    display: flex;
justify-content: center;
align-items: center;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra al hacer hover */
}
.card img{
    aspect-ratio: 1/1; /*sirve para la relacion ancho alto, y para q todas las imagenes ocupen el mismo espacio*/  
    padding: 5%;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas para mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
