.card{
    border: 1px solid #383838 !important;
background-color:  #383838 !important;;
color: white !important;
}

.divCard{
    min-height: 400px;
    width: 280px;

}

.imgContainer{
 
background-color: white;
height: 260px;

border-radius: 4px;

display: flex;
justify-content: center;
align-items: center;
border: 1px solid #383838 !important;

}

.imgContainer img{
    width: 100%;
    object-fit: contain;
    border-radius: 4px !important;
}

.imgContainer i{
    width: 100%;

 
    font-size: 10rem ;
    color: #383838 ;
    display: flex;
justify-content: center;
align-items: center;
}

.card img{
    aspect-ratio: 1/1; /*sirve para la relacion ancho alto, y para q todas las imagenes ocupen el mismo espacio*/  
    padding: 5%;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas para mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
