.productDetailsConteiner{
    padding: 10px;
    font-weight:bold;

    border-bottom:solid #ff6824 2px;
}
.image {
    min-width: 300px;
    max-width: 400px;
    max-height: 400px;
}
.info {
    font-size: 1rem;
}

.oldPrice {
    text-decoration: line-through;
}
.stock {
    font-size: 1.5rem;
}
.title {
    color: #ff6824;
}

.customButton {
    background-color: #ff6824;
    border-color: #ff6824;
    color: white;
    padding: 10px;
  }

