.detailsLink{
    text-decoration: none;
    color: black;
}
.detailsLink:hover{
    text-decoration: none;
    color: #ff6824;
}

.productDetailsConteiner{
    padding:2rem !important;
    margin-bottom: 2rem;
}
.image {
    min-width: 300px;
    max-width: 400px;
    max-height: 400px;
}
.info {
    font-size: 1rem;
}

.oldPrice {
    text-decoration: line-through;
}
.stock {
    font-size: 1.5rem;
    font-weight: 400;
}
.title {
    color: #ff6824;
}

.customButton {
    background-color: #ff6824;
    border-color: #ff6824;
    color: white;
    padding: 10px;
  }

  .dataProduct{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;

  }

  .dataContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;

  }

  .productDetailsConteiner a{
    font-weight: bold;
    font-size: 0.8rem;
    border: 1px solid black;
    padding: 2.5px 4px;
    border-radius: 5px;

  }

  .productDetailsConteiner a:hover{

    border: 1px solid #ff6824;
    background-color: #ff6824;
    color: white !important;
  }

  .buttonSection{
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .containerReviews{
    margin-top: 1rem !important;
    position: relative;
  }

  .blurBackground {
    filter: blur(5px); /* Ajusta el valor de desenfoque según tus preferencias */
  }
  .descritionComment{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas para mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    font-size: 0.95rem !important;
  }

  .descritionCommentMore{
    margin-top: 10px;
    font-size: 0.95rem !important;
  }
  .commentContainer {
    position: relative;
    border-bottom: 1px solid #ccc; /* Borde inferior */
    padding: 10px; /* Ajusta el espacio interno según sea necesario */
  }
  button.editButton {
    font-size: 0.85rem !important;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0 !important;
    padding: 1px 9px !important;
    background-color: #cccccc !important;
    color: rgb(77, 77, 77) !important;
    gap:3px;
    border-radius: 4px;
    border: 1px solid rgb(77, 77, 77) !important;;
  }
  .editButton i{
    font-size: 15px;
    padding: 0 !important;
    margin: 0 !important;
    color: rgb(77, 77, 77) !important;
  }
  .containerReviews h3 {    
    color: #ff6600; /* Color naranja bonito */
    background-color: #fafafa; /* Fondo blanco */
    padding: 10px; /* Espaciado interno para resaltar el texto */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */  
  }


  button.deleteButton{
    font-size: 0.85rem !important;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    padding: 1px 4px !important;
    background-color: #383838 !important;
    gap:3px;
    border-radius: 4px;
    border: 1px solid rgb(77, 77, 77) !important;;
  }

  .deleteButton i{
    font-size: 15px;
    padding: 0 !important;
    margin: 0 !important;
    color: rgb(255, 255, 255) !important;
  }
  

  .headerDescription{
    display: flex;
    gap: 5px;
    align-items: center;
   
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .imagenUsuario{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
  }

  .customerName{
    font-size: 0.85rem;
  }

  .stars{
    margin-top: -5px;
  }

  .date{
    font-size: 0.75rem;
    color: #8a8a8a;
    margin-top: -5px !important;
  }

  button.seeMore{
    font-size: 0.8rem !important;
    height: 22px;
    display: flex;
    align-items: center;
    padding: 0 !important;
    padding: 1px 6px !important;
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
    gap:5px;
    border-radius: 4px;
    border: 1px solid rgb(77, 77, 77) !important;
    margin-top: 5px;
  }

  button.seeMore i{
    font-size: 12px;
    padding: 0 !important;
    margin: 0 !important;
    color: rgb(0, 0, 0) !important;
  }