.detailsLink{
    text-decoration: none;
    color: black;
}
.detailsLink:hover{
    text-decoration: none;
    color: #ff6824;
}

.productDetailsConteiner{
    padding:2rem !important;
}
.image {
    min-width: 300px;
    max-width: 400px;
    max-height: 400px;
}
.info {
    font-size: 1rem;
}

.oldPrice {
    text-decoration: line-through;
}
.stock {
    font-size: 1.5rem;
    font-weight: 400;
}
.title {
    color: #ff6824;
}

.customButton {
    background-color: #ff6824;
    border-color: #ff6824;
    color: white;
    padding: 10px;
  }

  .dataProduct{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;

  }

  .dataContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;

  }

  .productDetailsConteiner a{
    font-weight: bold;
    font-size: 0.8rem;
    border: 1px solid black;
    padding: 2.5px 4px;
    border-radius: 5px;

  }

  .productDetailsConteiner a:hover{

    border: 1px solid #ff6824;
    background-color: #ff6824;
    color: white !important;
  }

  .buttonSection{
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .containerReviews{
    position: relative;
  }

  .blurBackground {
    filter: blur(5px); /* Ajusta el valor de desenfoque según tus preferencias */
  }
  .descritionComment{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas para mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .commentContainer {
    position: relative;
    border-bottom: 1px solid #ccc; /* Borde inferior */
    padding: 10px; /* Ajusta el espacio interno según sea necesario */
  }
  .editButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    left: 70%;
    top:5%; 
    padding: 0 !important;
    width: 30px;   
  }
  .editButton i{
    font-size: 20px;
  }
  .containerReviews h3 {    
    color: #ff6600; /* Color naranja bonito */
    background-color: #fff; /* Fondo blanco */
    padding: 10px; /* Espaciado interno para resaltar el texto */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */  
  }
  