.AdminLogo{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--green);
    border-left: 10px solid var(--green);
    transition: 0.5s;
    overflow: hidden;
}


.navigation ul{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation.active{
    width: 80px;
}


.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a{
    position: relative;
    color: #383838;
    width: 100%;
    display: flex;
    text-decoration: none;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul li a .icon i{
    font-size: 1.5em;
        color: #383838;
    position: relative;
    z-index: 1000;

}

.navigation ul li a .title{
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    text-align: start;
    white-space: nowrap;
}



/*Responsive Desing*/
@media (max-width: 991px){
    .navigation{
        left: -300px;
    }

    .navigation.active{
        left: 0;
        width: 300px;
    }
}

@media (max-width: 480px){

    .navigation{
        left:-100%;
        width: 100%;
        z-index: 1000;
    }
    .navigation.active{
        top: 0;
        left: 0;
        width: 100%;
    }
}