.textura {
    background-image: url('../../Images/TEXTURA_WEB.jpg')  ;
    background-size: cover;
    height: fit-content;
    padding: 5rem 3rem !important;
}


.responsiveCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    filter: brightness(0.9); /* Aplica un filtro de brillo del 50% y desenfoque de 4px por defecto */
    transition: transform 0.1s, filter 0.3s ease; /* Transiciones suaves para transform y filtro */
    border: none;
}

.responsiveCard {
    overflow: hidden !important;
    filter: none !important; 
}

.responsiveCard img:hover {
    transform: scale(1.05);
    object-fit: cover;    
    filter: none; /* Elimina el filtro de brillo y desenfoque al hacer hover */
}

.cardBody {
    background-color: #FC6522 ; 
    text-align: center; 
    padding: 10px;
    border: none;
    overflow: hidden !important;
}

.cardTitle {
    color:#ffffff;
    font-size:19px;
    font-weight: bold;
    text-transform: uppercase;
}


.btnCategory {
    display: inline-block;
    color: #FC6522 !important;
    font-weight: 700 !important;
    margin-bottom: 30px !important;
    font-size: 25px !important;
    border-radius: 57px;
    border: none;
    padding: 0.5rem 1.0rem !important;
    background-color: #ffffff;
}

.btnCategory:hover{
    cursor:auto ;
}

/* Estilos para cuando la pantalla es menor a 576px */
@media screen and (max-width: 575px) {
    .textura {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 800px;   
    } 
    .containDivs{
      overflow-x: auto; /* Esto habilita el desplazamiento horizontal */
      white-space: nowrap; /* Esto evita que las imágenes se rompan en varias líneas */
    }       
}
  


 