.card{
    height: 100%;
    transition: box-shadow 0.5s; /* Agrega una transición suave al efecto de sombra */
}
.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra al hacer hover */
}
.addCart{
    background-color: #ff6824 !important;
    cursor:pointer;
    width: 100%
}
.addCart i{
    color: aliceblue !important;
}
.card i{
    color: red;    
}
.fav{
    border-radius: 50%;
    border: none;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra al hacer hover */
}
.card:hover .fav{
    opacity: 1;
}
.description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas para mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
