.buttonSearchBar {
  border: none !important;
  background-color: #ff6824 !important;
  z-index: 1;
height: 35px;
}

.buttonSearchBar:hover {
  background-color: #ff7d41 !important;
}

.searhContainer {
flex: 1 !important;
margin: 0 1rem;

}

.suggestionText {
  color: rgba(12, 12, 12, 0.733);
  width: 150% left;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 5;
  background-color: rgba(255, 123, 0, 0.829);
  
  margin: 0;
  padding: 0;
}

.suggestionText:hover{
  background-color: black;
  color: white;

}

.coincidences {
  padding:  5px;
 
}

.custom {
  width: 40%; 
  height: 32px;
  /* background-color: white; */
  /* z-index: 2; */
  display: flex; 
  
}