.navbarContainer {
  background-color: #000000;
}

i {
  color: rgb(255, 255, 255);
}

.logo{
  height: 60px;
  max-width: 200px;
  margin: 0;
}

.navigation{
  background-color: #b1b1b129;
  padding: 0.75rem 2rem !important;
  margin: 0;
  color: #000000;
}

.itemMenuContaianer a {
color:rgb(0, 0, 0);
text-decoration: none;
font-weight: 500;
font-size: 0.85rem;
}

.itemMenuContaianer a:hover{
  color: #000000;
  text-decoration: none;
}

.alertIcon {
  color: red; /* Color rojo */
  animation: blink 1s infinite; /* Efecto de parpadeo */
  font-size: 2;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.roundedProfileImg {
  width: 3rem; /* Ajusta el tamaño según tus necesidades */
  height: 3rem; /* Ajusta el tamaño según tus necesidades */
  border: 6px solid #ff6824; /* Borde de 1px naranja */
  border-radius: 50%; /* Hace que la imagen sea redonda */
}

.divCart:hover{
  cursor: pointer !important;
}