.navbarContainer {
  background-color: #000000;
}

i {
  color: rgb(255, 255, 255);
}

.logo{
  height: 60px;
  width: auto;
  margin: 0;
}

.navigation{
  background-color: #00000029;
  padding: 0;
  margin: 0;
  color: #000000;
}

.itemMenuContaianer a {
color:rgb(0, 0, 0);
text-decoration: none;
font-weight: 500;
}

.itemMenuContaianer a:hover{
  color: #000000;
  text-decoration: none;
}