.formContainer{
    background-color: black;
    color:white;
    height: 100%;

    padding: 2rem;
}
.messajeContainer h3{

    color: #ff6824;
text-align: center;
    font-size: 1.5rem !important;
margin: 3rem;
}
.customDatePicker {
    border-radius: 6px; /* Redondear los bordes */
    padding: 5px; /* Agregar padding */
  }
  .error{
    color:#ff6824
  }