.formContainer{
    background-color: black;
    color:white;
    /* border-radius: 20px; */
    /* margin: 20px; */
    /* border: solid 4px orangered; */
    /* padding: 30px; */
}
.messajeContainer{
    display: flex;
    background-color: black;
    color: #ff6824;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 10em;
}
.customDatePicker {
    border-radius: 6px; /* Redondear los bordes */
    padding: 5px; /* Agregar padding */
   
  }
  .error{
    color:#ff6824
  }