.cartItem{
    max-width: 100%;
    height: 400px;
    margin: 4px;
    font-weight: 600;
}
.img{
    max-width: 100%;   
    padding: 5px !important;
}
.img:hover{   
    opacity: 0.8;   
    transition: opacity 0.3s; /* Transición suave */      
}
.inputCant{
    width: 70px !important;
    margin-bottom: 2px; 
}
.inputCantError{
    width: 70px !important;
    margin-bottom: 2px; 
    border: 1px red solid !important;
    box-shadow: 0 0 0 .25rem rgba(253, 13, 29, 0.25) !important;
}
.inputCant ~ p{
    width: 100%;
}
.btnDelete{
    width: fit-content !important;
    max-height: 40px;      
}
.iconTrash{
    font-size: small;
    
}
.errorQuantity {    
    box-shadow: 0 0 0 .25rem #ff6824 !important;
    border-radius: 10%;
    background-color: #ff6824;  
}
