

.passwordFormContainer{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}


.AddProductForm {
    position: relative !important;
    z-index: 1000;
    max-width: 350px !important;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 1.8rem !important;
    gap: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-weight: 600;
  }

 


  .AddProductForm label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .AddProductForm label input {
    padding: 0 0.5rem;
    width: 100%;
    height: 2rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid #383838;
    background-color: #a5a5a513 !important;
    color: #383838;
    font-size: 1rem;
  }
  
  .AddProductForm button.sumbit {
    width: 100%;
    height: 2.5rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid #383838;
    background-color: #383838;
    color: #ffffff;
    font-size: 1rem;
    margin-top: 1rem !important;
    font-weight: 600;
  }
  
  .AddProductForm button.sumbit:hover {
    border: 1px solid #ff6824;
    background-color: #ff6824;
    color: #ffffff;
  }
  
  .AddProductForm button.sumbit:active {
    border: 1px solid #bb633a;
    background-color: #bb633a;
    color: #ffffff;
  }
  
  .AddProductForm button.sumbit:disabled {
    width: 100%;
    height: 2.5rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid #383838;
    background-color: #636363;
    color: #ffffff;
    font-size: 1rem;
    margin-top: 1rem !important;
    font-weight: 600;
  }
  
  .AddProductForm label input:focus {
    outline: none;
    border: 1px solid #ff6824;
    box-shadow: 0px 0px 6px #ff6824;
    border-radius: 4px;
  }
  
  .error {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    margin-left: 0.2rem;
    color: #ff3939;
    font-weight: 600;
    text-align: left;
  }
  
  .passwordInput {
    width: 100%;
    position: relative;
  }
  
  .passwordInput input {
    /* Estilos para el campo de contraseña */
    width: 100%;
  }
  
  button.showPasswordButton {
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 10px; /* Ajusta esto según tu diseño */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 6px;
  }
  
  button.showPasswordButton i {
    color: #383838;
  }
  
  button.showPasswordButton:hover {
      background-color: transparent;
      border: none;
    }

    button.closeButton{
      position: absolute;
      right: 0;
      top: 0;
    border: none;
    background-color: transparent;
    padding: 0 !important;
    margin: 3px 6px !important;
    }
  
    button.closeButton:hover{
      background-color: transparent !important;
      padding: 0 !important;
      margin: 3px 6px !important;
      outline: none !important;
      border: none !important;
     
    }
  
    button.closeButton i{
      color:black;
      padding: 0 !important;
    
      font-size: 1.1rem;
    }