
.titleH5 {
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 1.2rem;
    color: #ffffff;
  }

  .SearchBar{
    margin-left: -1rem !important;
  }

.map{
    width: 100%;
    border-radius: 5px;
}
.footerLink{
  color: white;
  text-decoration: none;
}
.footerLink:hover{
  color: #fc6522;
  text-decoration: none;
}

.guardianes{
  margin: 0;
  padding: 0.45rem 0;
  background-color: #ffffff;
  position: relative;
  bottom: 0;
  color: black;
  font-size: 0.8rem;
}

.logo{
  height: 60px;
  width: auto;
}