.coloredText{
    color: #FC6522;
}

.title{
    margin-top: 30px;
    margin-bottom: 60px;
}

.carousel_container {
    margin-left: 30px; 
    margin-right:30px;
    margin-top: 30px;
  }
 
  
  
  
  



