

.title{
    display: inline-block;
    margin-bottom: 30px !important;
    border-radius: 57px;
    font-size: 25px !important;
    font-weight: 700;
    padding: 0.7rem 1.2rem;
    background-color: #353535;
    color: white !important;
}

  @media screen and (max-width: 575px) {
    .containerTitle {
    text-align: center;
    }   
  }

.carousel_container {
  margin: 0;
  margin-top: 30px;
  display: flex;
  }

 .cards_carousel{
  position: relative;
  justify-content: space-between;

 }

 .arrowLeft {
  position: absolute;
  margin-top: 65px;
  width: 60px;
  left: 15px;
  z-index: 10;
    
 }

 .arrowRight {
  display: inline;
  position: absolute;
  margin-top: 60px;
  width: 60px;
  transform: rotate(180deg);
  z-index: 10;
  right: 3px;
 }


 .buttonRight {
  width: 10%;
  margin-left: -20px;
 }
 